<form class="flex w-full">
    <div class="inline-flex items-center border-2 border-blue-400 px-4">
        <span>Words</span>
    </div>
    <input class="flex w-full border-y-2 border-x-0 border-blue-400 focus:ring-0 focus:border-blue-400" type="text" placeholder="Search">
    <div class="inline-flex items-center border-y-2 border-blue-400 pr-3">
        <span class="icon-[fa6-solid--xmark] text-2xl text-gray-400 hover:text-gray-500 cursor-pointer"></span>
    </div>
    <div class="inline-flex items-center border-y-2 border-blue-400 pr-3">
        <span class="icon-[fa6-solid--keyboard] text-xl text-gray-400 hover:text-gray-500 cursor-pointer"></span>
    </div>
    <button class="inline-flex border-2 border-blue-400 justify-center items-center px-2 bg-amber-600" type="submit">
        <span class="icon-[fa6-solid--magnifying-glass] text-2xl text-blue-500"></span>
    </button>
</form>

<script type="text/javascript">

</script>