<form action="{% url 'search' %}" class="flex w-full">
    <input
            name="w"
            class="search flex w-full border-2 border-r-0 border-blue-400 focus:ring-0 focus:border-blue-400 bg-transparent dark:caret-gray-200 dark:text-gray-200"
            type="text"
            placeholder="Search"
            autocomplete="off"
            value="{{ search_value }}"
    >
    <div class="b-clear inline-flex hidden items-center border-y-2 border-blue-400 pr-3">
        <span class="icon-[fa6-solid--xmark] text-2xl text-gray-400 hover:text-gray-500 cursor-pointer"></span>
    </div>
    <div class="inline-flex items-center border-y-2 border-blue-400 pr-3">
        <span class="icon-[fa6-solid--keyboard] text-xl text-gray-400 hover:text-gray-500 cursor-pointer"></span>
    </div>
    <button class="inline-flex border-2 border-blue-400 justify-center items-center px-2" type="submit">
        <span class="icon-[fa6-solid--magnifying-glass] text-2xl text-blue-500"></span>
    </button>
</form>
<!--
<div class="relative">
    <div class="absolute left-0 top-0 border-x-2 border-b-2 border-blue-400">Example</div>
    <div class="absolute left-0 top-0 border-x-2 border-b-2 border-blue-400">Example 2</div>
</div>
-->

<script type="text/javascript">
$(document).ready(() => {

    const search = $('input.search');
    const clearBtn = $('.b-clear');

    const update = () => {
        if (search.val().length > 0) {

            clearBtn.removeClass('hidden');
        }
        else clearBtn.addClass('hidden');
    };

    search.on('input propertychange', update);

    clearBtn.click(() => {
        search.val('');
        search.focus();
        update();
    });

    update();
});
</script>