{% extends 'site/searchable.html' %}
{% load teleport %}

{% block title %} {{ search_value }} {% endblock %}
{% block left %}
    {% include 'widgets/content_column.html' with column_title='Words' contents=results.words %}
    <div class="divide-y dark:divide-gray-500 mb-4">
        {% for word in results.words %}
            {% include 'widgets/word_snippet.html' %}
        {% endfor %}
    </div>
    {% teleport results.words.count > 0 ? 'right_side' %}
        {% include 'widgets/content_column.html' with column_title='Paraphrases' contents=results.entries %}
        <div class="divide-y dark:divide-gray-500 mb-4">
            {% for entry in results.entries %}
                <div class="grid">
                    <div>
                        {{ entry.paraphrase }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endteleport %}
    {% teleport results.words.count > 0 or results.entries.count > 0 ? 'right_side' %}
        {% include 'widgets/content_column.html' with column_title='Sentences' contents=results.sentences %}
        <div class="divide-y dark:divide-gray-500 mb-4">
            {% for sentence in results.sentences %}
                <div class="grid">
                    <div>
                        {{ sentence.transcript }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endteleport %}
{% endblock %}
{% block right %}
    {% portal 'right_side' %}
{% endblock %}
